
<h1><b>FETCH</b></h1>

<input type="number" class="form-control" [(ngModel)] = 'fetchId' placeholder="Enter User ID to fetch" />
<button class="btn btn-info" (click)= 'GetById()'>Fetch user</button>



<table class ="table" border="2px solid black">
    <tr>
      <td>
        {{boeks.id}}
      </td>
      <td>
        {{boeks.title}}
      </td>
      <td>
        {{boeks.categories}}
      </td>
    </tr>
  </table>

<p></p>



<h1><b>DELETE</b></h1>
<br><br>

<table class ="table table-striped table-responsive">
  <tr *ngFor="let b of boeks2">
    <td>
      {{b.id}}
    </td>
    <td>
      {{b.title}}
    </td>
    <td>
      {{b.categories}}
    </td>

  </tr>
</table>

<input class= "form-control" type="number" [(ngModel)]='idtodelete' placeholder="Enter Id to delete User" />

<button class= 'btn btn-info' (click)='DeleteBooks()'>Delete User </button>



<p></p>
<h1><b>UPDATE</b></h1>

<br><br>

    <input type="number" class="form-control" [(ngModel)] = 'idtoUpdate' placeholder="Enter User ID to update" />
    <button class="btn btn-info" (click)= 'UpdateBooks()'>Update User</button>

    <div *ngIf="displayData">
      <table class ="table">
          <tr >
            <td>
              {{boeks.id}}
            </td>
            <td>
              {{boeks.title}}
            </td>
            <td>
              {{boeks.status}}
            </td>
          </tr>
        </table>

<br><br>
    <button class="btn btn-danger" [routerLink]="['/home']" routerLinkActive="router-link-active" > Go Back</button>
<router-outlet></router-outlet>


<p></p>
<h1><b>CREATE</b></h1>


<form [formGroup]='userFormGroup' (ngSubmit)='AddBooks()'  novalidate >
    <input class= "form-control" type="text" formControlName='title' placeholder="Enter title"   />
    <input class= "form-control" type="text" formControlName='categories' placeholder="Enter category"   />
    <input class= "form-control" type="text" formControlName='pages' placeholder="Enter pages"   />

  
    <button class= 'btn btn-info'>Add User</button></form>
  
    <br><br>
    <table class ="table table-striped table-responsive2">
      <tr *ngFor="let u of boeks2">
        <td>
          {{u.id}}
        </td>
        <td>
          {{u.title}}
        </td>
        <td>
          {{u.categories}}
        </td>
        <td>
            {{u.pages}}
          </td>
    

      </tr>
    </table>