div.fetch{
padding-left: 2%;
padding-right: 2%;
}

div.delete{
padding-left: 2%;
padding-right: 2%;
}

div.update{
padding-left: 2%;
padding-right: 2%;
}

div.create{
padding-left: 2%;
padding-right: 2%;
}